<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Employee System {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('https://assets.awwwards.com/awards/images/2015/04/pattern.jpg')">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-brand">{% block navbartitle %}Employee Lists{% endblock %} </p>
    </div>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
    {% block content %}

    {% endblock %}
</body>
</html>