{% extends 'empapp/base.html' %}
{% block title %}
    <!--{% if employee.id %}-->
        <!--Update Details-->
    <!--{% else %}-->
        Add Employee
    <!--{% endif %}-->
{% endblock %}
{% block navbartitle %}
    <!--{% if employee.id %}-->
        <!--Update Details-->
    <!--{% else %}-->
        Add Employee
    <!--{% endif %}-->
{% endblock %}

{% block content %}
    <form method="POST" class="post-form" action="{% url 'emp' %}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                     <h3>Enter Valid Details</h3>
                </div>
            </div>
           {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li
                    {% if message.tag %}
                        class="{{message.tags }}"
                    {% endif %} >
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

           {% include 'empapp/form_template.html' %}
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-1">
                    <input type="button" class="btn btn-primary" value="Cancel" onclick="location.href = '{% url 'show' %}';">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
