{% extends 'blog/base.html' %}
{% block title %} Post list new {% endblock %}
{% block content %}
    <div class="content">
        <div class="section-inner clearfix">
            <ul>
                {% for post in posts %}
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a></h3>
                    <p class="post-info">{% include 'blog/post_info.html' %}</p>
                {% empty %}
                    <p>There are no posts</p>
                {% endfor %}
            </ul>
       </div>
    </div>

    <div class="paginator">
        <div class="section-inner clearfix">
            <p>
                {% if posts.has_previous %}
                    <a href="?page={{ post.previous_page_number}}">&lt; Prev</a> |
                {% endif %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next &gt;</a>
                {% endif %}
                <span>Page {{ posts.number }} of  {{ posts.paginator.num_pages }}</span>
            </p>
        </div>
    </div>
{% endblock %}

