{% extends 'blog/base1.html' %}
{% block title %} Sign In {% endblock %}
{% block content %}
<div class="container">

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                         <h3>Enter Valid Details</h3>
                    </div>
                </div>
               {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li
                        {% if message.tag %}
                            class="{{message.tags }}"
                        {% endif %} >
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% include 'blog/form_template.html' %}
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-1">
                        <input type="button" class="btn btn-primary" value="Cancel" onclick="location.href = '{% url 'login' %}';">
                    </div>
                </div>
    </form>

</div>
{% endblock %}